.art-body {
  box-sizing: border-box;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 12%);
}
.art-body--full-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  right: 0;
  z-index: 1000;
  box-shadow: none;
}
.art-body__main {
  display: flex;
  height: calc(100% - 32px);
}
.art-main__content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
