.art-editor {
  flex: 1;
  overflow: auto;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
.art-editor::-webkit-scrollbar {
  width: 9px;
}

/*定义滑块 内阴影+圆角*/
.art-editor::-webkit-scrollbar-thumb {
  background-color: #c8c8c8;
}
.art-render {
  flex: 1;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 28px;
}
