.art-floatTool {
    width: 180px;
    list-style: none;
    position: fixed;
    top: 10px;
    left: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px 0px;
    background: #fff;
    font-size: 14px;
    padding: 8px 0 6px
}

.art-floatTool-li {
    padding: 6px 25px;
    cursor: pointer;
}

.art-floatTool li:hover {
    background-color: #f4f4f4;
    color: #1abc9c;
}

.art-divider {
    margin: 4px 0;
    background: #e5e5e5;
    padding: 1px 0 0;
}