.art-source {
  display: none;
  height: 100%;
  box-sizing: border-box;
}
.art-source-container {
  position: relative;
  height: 100%;
}
.art-source-iframe {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
}

.art-source body {
  margin: 0;
}
.art-source > * {
  outline: none;
}


