.art-render-art {
    outline: none;
    white-space: pre-wrap;
    word-break: break-all
}

.art-hide {
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;
    vertical-align: middle;
}

.art-display-none {
    display: none;
}

.art-show {
    color: #ccc;
}

.art-show-math {
    top: 26px;
    width: max-content;
    z-index: 5;
    position: absolute;
    padding: 13px 25px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px 0px;
}

.art-editor li>p>input {
    position: absolute;
    margin-left: -1.15em;
    margin-top: 0.45em;
}

.art-buttonTool-hover {
    font-size: 13px;
    font-weight: 600;
    margin-left: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0px 4px;
    border: 1px solid #9a9a9a00;
    background: #fff;
}

.art-buttonTool-hover:hover {
    border-color: #aaaa;
    background: #efefef;
}

.art-codeBlockBottomTool {
    width: 100%;
    text-align: center;
}

.art-codeBlockTool {
    width: 100%;
    font-weight: 600;
    visibility: visible;
    display: flex;
}

.art-toc {
    padding: 6px 15px;
    margin: 0 0 15px;
    font-weight: 400;
    border: 1px dashed #9990;
}

.art-toc p {
    margin-bottom: 2px
}

.art-toc a {
    border-bottom: none;
    color: #4183c4
}

.art-toc-h2 {
    margin-left: 2em
}

.art-toc-h3 {
    margin-left: 4em
}

.art-toc-h4 {
    margin-left: 6em
}

.art-toc-h5 {
    margin-left: 8em
}

.art-toc-h6 {
    margin-left: 10em
}

.art-tocTool {
    width: 100%;
    position: relative;
}

.markdown-body h1::before, .markdown-body h2::before, .markdown-body h3::before, .markdown-body h4::before, .markdown-body h5::before, .markdown-body h6::before {
    position: absolute;
    color: rgba(88, 96, 105, 0.36);
    font-weight: 400;
    font-size: 10px;
    margin-left: -2em;
    margin-top: 0.em;
}

.markdown-body h1::before {
    content: "H1";
}

.markdown-body h2::before {
    content: "H2";
}

.markdown-body h3::before {
    content: "H3";
}

.markdown-body h4::before {
    content: "H4";
}

.markdown-body h5::before {
    content: "H5";
}

.markdown-body h6::before {
    content: "H6";
}

.art-md-item-checkbox {
    position: relative;
    list-style-type: none;
}

.art-md-item-checkbox>input {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -1.25em;
    margin-top: calc(1em - 7px);
    border: none;
}

.art-md-Table table {
    width: 100%;
}

.art-md-MathBlock, .art-md-HtmlBlock {
    margin: 12px 0 8px;
}

.art-md-html-block-main::before, .art-md-math-block-main::before {
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    position: absolute;
    top: -20px;
    right: 0;
    background-color: #f6f8fa;
    color: #777;
    text-align: right;
    font-size: 0.6em;
    padding: 8px 20px 0;
    line-height: 15px;
    height: 15px;
}

.art-md-math-block-main {
    position: relative;
    background-color: #f6f8fa;
    border-radius: 2px;
    margin-bottom: 5px;
}

.art-md-html-block-main, .art-md-math-block-main pre {
    overflow-x: auto;
    padding: 0.1em 1em;
    margin: 0;
    font-size: 14px;
}

.art-md-math-block-main::before {
    content: "公式";
}

.art-md-HtmlBlock {
    position: relative;
}

.art-md-HtmlBlock pre {
    position: static;
}

.art-md-html-block-main::before {
    content: "HTML";
}

.art-md-DefLink {
    margin-top: 0;
    margin-bottom: 16px;
}

.art-md-DefLink-name {
    font-weight: 700;
}

.art-md-DefLink-title,
.art-md-DefLink-url {
    color: #c7c7cc;
}

.art-emptyline {
    display: block;
}